@media screen and (max-width: 699px) {
.link{
  display: contents;
  text-decoration: none !important;
}
.container {
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.base {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/loginCadastro.png);
  background-attachment: flex;
   background-size: cover;
  background-repeat: no-repeat;
}

.borderTwo {
  max-width: 350px;
  max-height: 800px;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgb(139, 139, 139);
}

.imagem1 {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.cadastrotitle{
  width: 100%;
}

.h1 {
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
}
.dados {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
}

.localCadastro {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fazerlogin{
  margin-bottom: 0;
}
.voltar{
  color: black;
}
.cadBtn{
  background-color: #D41817 !important;
}
}
@media screen and (min-width: 700px) {
  .link{
  display: contents;
  text-decoration: none !important;
}
.container {
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.base {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/loginCadastro.png);
  background-attachment: flex;
   background-size: cover;
  background-repeat: no-repeat;
}

.borderTwo {
  max-width: 350px;
  max-height: 800px;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgb(139, 139, 139);
}

.imagem1 {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.cadastrotitle{
  width: 60%;
}

.h1 {
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
}
.dados {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
}

.localCadastro {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fazerlogin{
  margin-bottom: 0;
}
.voltar{
  color: black;
}
.cadBtn{
  background-color: #D41817 !important;
}
}