@media screen and (max-width: 699px) {
    .basePerfil {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 10%;
      height: 100%;
      align-items: center;
    }
  
    .containerPerfil {
      display: flex;
      background-color: #0e8f8f;
      border-radius: 10px;
      justify-content: space-around;
      flex-direction: column;
      width: 80%;
      height: 65%;
      align-items: center;
      margin-bottom: 2%;
      margin-top: 2%;
      padding-left: 4%;
      padding-right: 4%;
      padding-top: 1%;
      padding-bottom: 1%;
    }
  
    .cRight {
      height: 100%;
      width: 30%;
      display: flex;
      align-items: center;
    }
  }
  
  @media screen and (min-width: 700px) {
    .basePerfil {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 10%;
      height: 80%;
      align-items: center;
    }
  
    .containerPerfil {
  
      display: flex;
      background-color: #0e8f8f;
      border-radius: 10px;
      justify-content: space-around;
      width: 80%;
      height: 65%;
      align-items: flex-start;
      margin-bottom: 2%;
      margin-top: 2%;
      padding-left: 4%;
      padding-right: 4%;
      padding-top: 1%;
      padding-bottom: 1%;
    }
    .btn-Perf {
      width: 200px;
      align-items: flex-end;
      justify-content: flex-end;
    }
  
    .cRight {
      height: 100%;
      width: 20%;
      display: flex;
      align-items: flex-end;
    }
  }