@media screen and (max-width: 699px) {
.nossosprofisisonais{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link{
    display: contents;
    text-decoration: none !important;
}
.entrada1{
    margin-top: 15%;
    width: 100%;
}
.entrada2{
    display: none;
}
.agende{
    width: 100%;
    background-color: #0E8F8F;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.agende1{
    width: 80%;
    color: white;
    text-align: center;
    font-size: 80%;
    margin-bottom: 5%;
}
.atende-los{
    align-items: center;
    margin-bottom: 0;
}
.agende2{
    width: 20vh;
    margin-right: 5%;
    margin-left: 5%;
}
.btn-outline-light{
    font-size: 1.75vh !important;
    text-align: center !important;
}
.btn-outline-light:hover{
    background-color: #FA6666 !important;
}
.filtroprof{
  width: 90%;
  background-color: #0E8F8F;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 5%;
  border-radius: 10px;
  align-items: center;
}
.filtro1{
  margin-bottom: 0%;
  width: 80%;
  font-size: 100%;
  text-align: center;
  color: white;
}
.filtro2{
    width: 80%;
    margin-top: 10px;
}
.form-select1{
    font-size: 80% !important;
}
.profissionais{
    display: contents;
}
.prof{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: #0E8F8F;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 5%;
    border-radius: 10px;
    align-items: center;
}
.prof1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profimg{
    width: 80%;
}
.proftitle{
    color: white;
    margin-bottom: 0;
    margin-top: 2%;
    font-size: 120%;
}
.prof2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: white;
    font-size: 80%;
    margin-top: 5%;
}
}

@media screen and (min-width: 700px) {
.nossosprofisisonais{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link{
    display: contents;
    text-decoration: none !important;
}
.entrada1{
    display: none;
}
.entrada2{
    height: 100vh;
    width:100% ;
    margin-top: 6%;
    background-image: url(../../images/entrada.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    
}
.btn-outline-light{
    margin-top: 8%;
    margin-right: 15%;
    padding-left: 5%  !important;
    padding-right: 5%  !important;
    background-color: #9E1B1B  !important;
}
.btn-outline-light:hover{
    background-color: #FA6666  !important;
}
.agende{
    display: none;
}
.filtroprof{
  width: 80%;
  background-color: #0E8F8F;
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 5%;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}
.filtro1{
  margin-bottom: 0%;
  width: 30%;
  font-size: 150%;
  text-align: center;
  color: white;
}
.filtro2{
    width: 50%;
}
.profissionais{
    display: contents;
}
.prof{
    width: 80%;
    display: flex;
    flex-direction: row;
    background-color: #0E8F8F;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 5%;
    border-radius: 10px;
    justify-content: space-between;
}
.prof1{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profimg{
    width: 80%;
}
.proftitle{
    color: white;
    margin-bottom: 0;
    margin-top: 2%;
    font-size: 120%;
}
.prof2{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: white;
    font-size: 100%;
    margin-top: 5%;
}


}