@media screen and (max-width: 699px) {
    .nossahistoria{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .link{
        display: contents;
        text-decoration: none !important;
    }
    .entrada1{
        margin-top: 15%;
        width: 100%;
    }
    .entrada2{
        display: none;
    }
    .agende{
        width: 100%;
        background-color: #0E8F8F;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .agende1{
        width: 80%;
        color: white;
        text-align: center;
        font-size: 80%;
        margin-bottom: 5%;
    }
    .atende-los{
        align-items: center;
        margin-bottom: 0;
    }
    .agende2{
        width: 20vh;
        margin-right: 5%;
        margin-left: 5%;
    }
    .btn-outline-light{
        font-size: 1.75vh !important;
        text-align: center !important;
    }
    .btn-outline-light:hover{
        background-color: #FA6666 !important;
    }

   .tituloetexto {
    margin-top: 50px;
    /* margin-left: 0; */
    float: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .title{
    margin-left: 10%;
    font-size: 170%;
    }

    .texto {
    text-justify: distribute-all-lines;
    text-align: center;
    width: 75%;
    margin-top: 50px;
    float: left;
    }

    .paragrafo1 {
    text-justify: distribute-all-lines;
    text-align: center; 
    font-size: 80%;
    color: black;
    }

    .paragrafo2 {
        text-justify: distribute-all-lines;
        text-align: center; 
        font-size: 80%;
        color: black;
        }
    
        .paragrafo3 {
            text-justify: distribute-all-lines;
            text-align: center; 
            font-size: 80%;
            color: black;
        }

        .imagem1 {
        width: 100%;
        /* margin-top: 250px; */
        margin-right: 4%;
        float: right;
        margin-bottom: 5%;
        }

        .logo {
        margin-top: 60px;
        margin-left: 10px;
        }

        .medico {
            display: none;
        }
}

@media screen and (min-width: 700px) {
    .home{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .link{
        display: contents;
        text-decoration: none !important;
    }
    .entrada1{
        display: none;
    }
    .entrada2{
        height: 100vh;
        width:100% ;
        margin-top: 6%;
        background-image: url(../../images/entrada.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        
    }
    .btn-outline-light{
        margin-top: 8%;
        margin-right: 15%;
        padding-left: 5%  !important;
        padding-right: 5%  !important;
        background-color: #9E1B1B  !important;
    }
    .btn-outline-light:hover{
        background-color: #FA6666  !important;
    }
    .agende{
        display: none;
    }

    .tituloetexto {
        margin-top: 50px;
        margin-left: 4%;
        float: left;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: left;
       }
    
       .title{
        font-size: 250%;
        }
    
        .texto {
        text-justify: distribute-all-lines;
        text-align: center;
        width: 75%;
        margin-top: 50px;
        float: left;
        }
    
        .paragrafo1 {
        text-justify: distribute-all-lines;
        text-align: center; 
        font-size: 110%;
        color: black;
        }
    
        .paragrafo2 {
            text-justify: distribute-all-lines;
            text-align: center; 
            font-size: 110%;
            color: black;
            }
        
            .paragrafo3 {
                text-justify: distribute-all-lines;
                text-align: center; 
                font-size: 110%;
                color: black;
            }
    
            .imagem1 {
            width: 30%;
            /* margin-top: 250px; */
            margin-right: 4%;
            float: right;
            }
    
            .logo {
            margin-top: 15%;
            margin-left: 6%;
            }
    
            .medico {
                margin-top: 16%;
                margin-left: 3%;
            }
}