@media screen and (max-width: 699px) {
    .baseAtendimento {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 5%;
      align-items: center;
    }
  
    .containerAtendimento {
      display: flex;
      background-color: #0e8f8f;
      border-radius: 10px;
      justify-content: space-around;
      flex-direction: column;
      width: 80%;
      height: 65%;
      margin-bottom: 2%;
      padding-left: 4%;
      padding-right: 4%;
      padding-bottom: 1%;
    }
  
    .borderForm {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #a5e6e6;
      border-radius: 10px;
      height: 65%;
      width: 85%;
      margin-top: 10px;
      margin-left: 20px;
    }
    .putsIn {
      width: 90%;
      align-items: center;
      justify-content: flex-start;
    }
    .btn-info {
      width: 100%;
      margin-top: -10px;
      background-color: #16cccc;
    }
    .mainBorder {
      display: flex;
      flex-direction: column;
      margin-top: 10%;
    }
  
    .footer {
      width: 100%;
      background-color: #0b5757;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
      height: 35%;
    }
    .footer1 {
      margin-left: 1%;
      width: 45%;
      display: flex;
      flex-direction: column;
    }
    .footertitle {
      width: 100%;
    }
    .footertitle1 {
      font-size: 180%;
      color: white;
      margin-bottom: 0;
    }
    .footeremail {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 4%;
    }
    .footeremailicon {
      width: 5%;
    }
    .footeremailtext {
      margin-bottom: 0;
      margin-left: 12px;
      color: white;
      font-size: 100%;
    }
    .footerlocal {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 2%;
    }
    .footerlocalicon {
      width: 5%;
    }
    .footerlocaltext {
      margin-bottom: 0;
      margin-left: 12px;
      color: white;
      font-size: 100%;
    }
    .footertel {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 2%;
    }
    .footertelicon {
      width: 5%;
    }
    .footerteltext {
      margin-bottom: 0;
      margin-left: 12px;
      color: white;
      font-size: 100%;
    }
    .footer2 {
      margin-right: 5%;
      margin-top: 3%;
      width: 15%;
      display: flex;
      flex-direction: column;
    }
    .footermidia {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .footercpe {
      width: 100%;
      display: flex;
      margin-top: 20%;
      justify-content: center;
    }
    .footercpeimg {
      width: 80%;
    }
  }
  
  @media screen and (min-width: 700px) {
    .baseAtendimento {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 100vh;
      align-items: center;
    }
  
    .containerAtendimento {
      display: flex;
      background-color: #0e8f8f;
      border-radius: 10px;
      justify-content: space-around;
      width: 90%;
      height: 65%;
      margin-bottom: 2%;
      margin-top: 2%;
      padding-left: 4%;
      padding-right: 4%;
      padding-top: 1%;
      padding-bottom: 1%;
    }
  
    .borderForm {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #a5e6e6;
      border-radius: 10px;
      height: 82%;
      width: 45%;
      margin-top: 5%;
    }
    .putsIn {
      width: 90%;
      align-items: center;
      justify-content: flex-start;
    }
    .btn-info {
      width: 100%;
      background-color: #16cccc;
    }
    .boqueta {
      display: flex;
      flex-direction: column;
      margin-top: 70px;
    }
  
    .footer {
      width: 100%;
      background-color: #0b5757;
      display: flex;
      align-items: flex-end;
      flex-direction: row;
      justify-content: space-between;
      height: 35%;
    }
    .footer1 {
      margin-left: 1%;
      width: 45%;
      display: flex;
      flex-direction: column;
    }
    .footertitle {
      width: 100%;
    }
    .footertitle1 {
      font-size: 180%;
      color: white;
      margin-bottom: 0;
    }
    .footeremail {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 4%;
    }
    .footeremailicon {
      width: 5%;
    }
    .footeremailtext {
      margin-bottom: 0;
      margin-left: 12px;
      color: white;
      font-size: 100%;
    }
    .footerlocal {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 2%;
    }
    .footerlocalicon {
      width: 5%;
    }
    .footerlocaltext {
      margin-bottom: 0;
      margin-left: 12px;
      color: white;
      font-size: 100%;
    }
    .footertel {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 2%;
    }
    .footertelicon {
      width: 5%;
    }
    .footerteltext {
      margin-bottom: 0;
      margin-left: 12px;
      color: white;
      font-size: 100%;
    }
    .footer2 {
      margin-right: 5%;
      margin-top: 3%;
      width: 15%;
      display: flex;
      flex-direction: column;
    }
    .footermidia {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .footercpe {
      width: 100%;
      display: flex;
      margin-top: 20%;
      justify-content: center;
    }
    .footercpeimg {
      width: 80%;
    }
  }