@media screen and (max-width: 699px){
.contato{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link{
  display: contents;
  text-decoration: none !important;
}
.contate{
  background-color: #0E8F8F;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35%;
  width: 90%;
  border-radius: 10px ;
  padding: 5%;
}
.contate1{
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 120%;
  width: 100%;
  margin-top: 20px;
}
.forms{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A5E6E6 ;
  padding: 2%;
}
.form1{
  width: 90%;
}
.enviar{
  width: 50%;
  background-color: #16CCCC !important;
}
.enviar:hover{
  background-color: #66e6e6 !important;
}
.localiza{
  background-color: #0E8F8F;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  width: 90%;
  border-radius: 10px ;
  padding: 5%;
  margin-bottom: 5%;
}
.localiza1{
  width: 100%;
}
.mapa{
  width: 100%;
}
.localiza2{
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 120%;
  width: 90%;
  margin-top: 20px;
}
}
@media screen and (min-width: 700px) {
.contato{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link{
  display: contents;
  text-decoration: none !important;
}
.contate{
  background-color: #0E8F8F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  margin-top: 15%;
  width: 80%;
  border-radius: 10px ;
  padding: 5%;
}
.contate1{
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 120%;
  width: 45%;
  margin-top: 20px;
}
.forms{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A5E6E6 ;
  padding: 2%;
}
.form1{
  width: 80%;
}
.enviar{
  width: 50%;
  background-color: #16CCCC !important;
}
.enviar:hover{
  background-color: #66e6e6 !important;
}
.localiza{
  background-color: #0E8F8F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  margin-top: 15%;
  width: 80%;
  border-radius: 10px ;
  padding: 5%;
  margin-bottom: 5%;
}
.localiza1{
  width: 40%;
}
.mapa{
  width: 100%;
}
.localiza2{
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 120%;
  width: 45%;
  margin-top: 20px;
}
}