@media screen and (max-width: 950px) {
.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.entrada1{
    margin-top: 15%;
    width: 100%;
}
.entrada2{
    display: none;
}
}

@media screen and (min-width: 950px) {
.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.entrada1{
    display: none;
}
.entrada2{
    background-image: url(../../images/entrada.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
    width: 200%;
    
}
}




    
