@media screen and (max-width: 699px) {
.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.link{
    display: contents;
    text-decoration: none !important;
}
.entrada1{
    margin-top: 15%;
    width: 100%;
}
.entrada2{
    display: none;
}
.agende{
    width: 100%;
    background-color: #0E8F8F;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.agende1{
    width: 80%;
    color: white;
    text-align: center;
    font-size: 80%;
    margin-bottom: 5%;
}
.atende-los{
    align-items: center;
    margin-bottom: 0;
}
.agende2{
    width: 20vh;
    margin-right: 5%;
    margin-left: 5%;
}
.btn-outline-light{
    font-size: 1.75vh !important;
    text-align: center !important;
}
.btn-outline-light:hover{
    background-color: #FA6666 !important;
}
.historia{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
}
.historia1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.historiatitle{
    font-size: 250%;
}
.historiaimage{
    width: 50%;
}
.historia2{
    width: 90%;
    margin-top: 5%;
}
.historiaresumo{
    text-align: center;
    font-size: 90%;
    margin-top: 5%;
}
.btn-primary{
    background-color: #D41817 !important;
    width: 100%;
}
.btn-primary:hover{
    background-color: #FA6666 !important;
}
.profissionais{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 4%;
    background-color: #0E8F8F;
}
.profissionais1{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.profissionaistitle{
    font-size: 180%;
    color: white;
    margin-bottom: 0;
    text-align: center;
}
.profissionais2{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    align-items: center;

}
.maryjane{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.maryjaneimg{
    width: 80%;
}
.maryjanetext{
    font-size: 150%;
    color: white;
}
.ivetesangalo{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ivetesangaloimg{
    width: 80%;
}
.ivetesangalotext{
    font-size: 150%;
    color: white;
}
.neymarjunior{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.neymarjuniorimg{
    width: 80%;
}
.neymarjuniortext{
    font-size: 150%;
    color: white;
}
.profissionais3{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.btn-outline-danger{
    border-color: white !important;
    color: white !important;
    width: 50%;
}
.btn-outline-danger:hover{
    background-color: #FA6666 !important;
}

}

@media screen and (min-width: 700px) {
.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.link{
    display: contents;
    text-decoration: none !important;
}
.entrada1{
    display: none;
}
.entrada2{
    height: 100vh;
    width:100% ;
    margin-top: 6%;
    background-image: url(../../images/entrada.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    
}
.btn-outline-light{
    margin-top: 8%;
    margin-right: 15%;
    padding-left: 5%  !important;
    padding-right: 5%  !important;
    background-color: #9E1B1B  !important;
}
.btn-outline-light:hover{
    background-color: #FA6666  !important;
}
.agende{
    display: none;
}
.historia{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.historia1{
    width: 40%;
}
.historiatitle{
    font-size: 280%;
}
.historiaimage{
    width: 60%;
}
.historia2{
    width: 30%;
    
}
.historiaresumo{
    text-align: center;
    font-size: 90%;
    margin-top: 15%;
}
.btn-primary{
    background-color: #D41817 !important;
    width: 100%;
}
.btn-primary:hover{
    background-color: #FA6666 !important;
}

.profissionais{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 4%;
    background-color: #0E8F8F;
}
.profissionais1{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.profissionaistitle{
    font-size: 250%;
    color: white;
    margin-bottom: 0;
}
.profissionais2{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1%;

}
.maryjane{
    width: 30%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.maryjaneimg{
    width: 80%;
}
.maryjanetext{
    font-size: 150%;
    color: white;
}
.ivetesangalo{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ivetesangaloimg{
    width: 80%;
}
.ivetesangalotext{
    font-size: 150%;
    color: white;
}
.neymarjunior{
    width: 30%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.neymarjuniorimg{
    width: 80%;
}
.neymarjuniortext{
    font-size: 150%;
    color: white;
}
.profissionais3{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.btn-outline-danger{
    border-color: white !important;
    color: white !important;
    width: 20%;
}
.btn-outline-danger:hover{
    background-color: #FA6666 !important;
}



}




    
